[submodule "modules/downquark.ventureCore.SubatomicModules"]
	path = modules/downquark.ventureCore.SubatomicModules
	url = https://github.com/DownQuark-Work/downquark.ventureCore.SubatomicModules.git
	branch = develop
[submodule "modules/downquark.ventureCore.SubatomicModules"]
	path = modules/downquark.ventureCore.SubatomicModules
	url = https://github.com/DownQuark-Work/downquark.ventureCore.SubatomicModules.git
	branch = main
