[submodule "modules/subquark-develop"]
	path = modules/subquark-develop
	url = https://github.com/DownQuark-Work/downquark.ventureCore.SubatomicModules.git
	branch = develop
[submodule "modules/subquark-main"]
	path = modules/subquark-main
	url = https://github.com/DownQuark-Work/downquark.ventureCore.SubatomicModules.git
	branch = develop
